<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>radius - learn from skilled people near you</title>
    
    <!--favicon-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="57x57" href="../favicon/apple-touch-icon-57x57.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../favicon/apple-touch-icon-114x114.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../favicon/apple-touch-icon-72x72.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../favicon/apple-touch-icon-144x144.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="60x60" href="../favicon/apple-touch-icon-60x60.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="120x120" href="../favicon/apple-touch-icon-120x120.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="76x76" href="../favicon/apple-touch-icon-76x76.png" />-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="152x152" href="../favicon/apple-touch-icon-152x152.png" />-->
    <!--<link rel="icon" type="image/png" href="../favicon/favicon-196x196.png" sizes="196x196" />-->
    <!--<link rel="icon" type="image/png" href="../favicon/favicon-96x96.png" sizes="96x96" />-->
    <!--<link rel="icon" type="image/png" href="../favicon/favicon-32x32.png" sizes="32x32" />-->
    <!--<link rel="icon" type="image/png" href="../favicon/favicon-16x16.png" sizes="16x16" />-->
    <!--<link rel="icon" type="image/png" href="../favicon/favicon-128.png" sizes="128x128" />-->
    <!--<meta name="application-name" content="&nbsp;"/>-->
    <!--<meta name="msapplication-TileColor" content="#FFFFFF" />-->
    <!--<meta name="msapplication-TileImage" content="../favicon/mstile-144x144.png" />-->
    <!--<meta name="msapplication-square70x70logo" content="../favicon/mstile-70x70.png" />-->
    <!--<meta name="msapplication-square150x150logo" content="../favicon/mstile-150x150.png" />-->
    <!--<meta name="msapplication-wide310x150logo" content="../favicon/mstile-310x150.png" />-->
    <!--<meta name="msapplication-square310x310logo" content="../favicon/mstile-310x310.png" />-->
    
    <!-- Custom fonts for this template -->
    <link href="/stylesheets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,400i,600,700,800" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link rel="stylesheet" media="screen"  href="/stylesheets/main.css">-->
    <link rel="stylesheet" media="screen"  href="/stylesheets/vendor/bulma/mystyles.css">
    
    


    </head>
<body class="has-navbar-fixed-top">
<!-- Navigation navbar-->
<nav class="navbar is-fixed-top">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img class="logo" src="../../../stylesheets/img/logos/radiusalpha.svg" />
        </a>
      </div>
        <div class="navbar-end">
          <div class="searchform is-hidden-mobile is-hidden">
            <div class="searchform--basic field has-addons has-addons-center">
              <form action="/circles" method="GET" >
              <p class="control">
                <input class="input" type="text" placeholder="anything" name="search">
              </p>
              
              <div class="field has-addons has-addons-center searchform--expand is-hidden">
                      <p class="control">
                        <span class="select">
                          <select name="miles">
                            <option>10 mi</option>
                            <option>15 mi</option>
                            <option>20 mi</option>
                            <option>25 mi</option>
                          </select>
                        </span>
                      </p>
                      <p class="control">
                        <% if(currentUser){ %>
                        <input class="input" type="text" value="<%=currentUser.zip%>" name="ZIP" required data-validation-required-message>
                        <% } else { %>
                        <input class="input" type="text" value="30303" name="ZIP" required data-validation-required-message>
                        <% } %>
                      </p>
              </div>
              <p class="control">
                <button type="submit" class="button is-inverted search-button">
                   <i class="fa fa-search"> </i>
                </button>
              </p>
              </form>
            </div>
            
          </div>
          
          <a class=" is-primary is-outlined searchform--expand--button searchform is-hidden is-hidden-mobile">
                  <i class="fa fa-angle-right"></i>
          </a>
          
          <div class="user-button dropdown is-hoverable is-right">
            <% if (!currentUser){ %>
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <i class="fa fa-user-circle fa-2x"></i>
              </button>
            </div>
           
            <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" href="/login">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                  <hr class="dropdown-divider">
                    <a class="dropdown-item" href="/register">
                        <i class="fa fa-user-plus"></i> Sign up</i>
                    </a>
                </div>
            </div>
            <% } else { %>
            <div class="dropdown-trigger">
              <button class="" aria-haspopup="true" aria-controls="dropdown-menu4">
                <img class="userloggedin" src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_40,h_40/<%=currentUser.avatar%>">
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                <div class="dropdown-content">
                    <a class="dropdown-item" href="/users/<%=currentUser.id%>/dashboard">
                        <i class="fa fa-sliders"></i> Dashboard
                    </a>
                  <hr class="dropdown-divider">
                    <a class="dropdown-item" href="/users/<%=currentUser.id%>">
                          <i class="fa fa-user"></i> Profile
                    </a>
                  <hr class="dropdown-divider">
                    <a class="dropdown-item" href="/logout">
                        <i class="fa fa-sign-out"></i> Logout</i>
                    </a>
                </div>
            </div>
             <% } %>
          </div>
        </div>
    </div>
    
    <div class="mobile-search-bar hide is-hidden-desktop">
      <form action="/circles" method="GET">
        <div class="searchform--mobile">
          <div class="field has-addons has-addons-center">
            <p class="control">
              <input class="input" type="text" placeholder="anything" name="search">
            </p>
            <p class="control">
              <span class="select">
              <select>
                <option>5mi</option>
                <option>10mi</option>
                <option>15mi</option>
                <option selected>20mi</option>
              </select>
              </span>
            </p>
            <p class="control">
              <% if(currentUser){ %>
                      <input class="input" id="ZIP" name="ZIP" type="text" placeholder="ZIP" value="<%=currentUser.zip%>" required data-validation-required-message="Please enter your Zip Code.">
                    <% } else { %>
                      <input class="input" id="ZIP" name="ZIP" type="text" placeholder="ZIP" value="30303" required data-validation-required-message="Please enter your Zip Code.">
              <% } %>
            </p>
            <div class="control">
              <button type="submit" class="button is-primary is-medium is-fullwidth search-button"><span class="icon"><i class="fa fa-search"></i></span></button>
            </div>
          </div>
        </div>
        </form>
    </div>
</nav>


<div class="">
  <% if(error && error.length > 0){ %>
    <div id="notification1" class="notification has-text-centered is-light">
        <%=error%>
    </div>
  <% } %>   
  <% if(success && success.length > 0){ %>
    <div id="notification1" class="notification has-text-centered is-light">
        <%=success%>
    </div>
  <% } %> 
</div>
