

<!-- leaveModal -->                        <!-- deleteModal -->
<div id="leaveModal<%=user.joinedCircles[i]._id%>" class="modal">
<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <p class="modal-card-title"> Leave <strong><%=user.joinedCircles[i].circleDetails.title%></strong>?</p>
    <button class="delete closeModal" aria-label="close"></button>
  </header>
  <section class="modal-card-body">
    <!-- Content ... -->
    <p>Are you sure you want to leave this circle? This will terminate your enrollment in <%=user.joinedCircles[i].circleDetails.title%>.
    <br>
    <br>
    Your account will not be charged for future meetups of this circle.
    </p>

  </section>
  <footer class="modal-card-foot">
        <form action="/agreements/<%=user.joinedCircles[i]._id%>/leave?_method=PUT" method="POST">
            <div class="form-group">
                <button type="submit" name="stop" class="button is-primary is-medium"><span class="icon"><i class="fa fa-minus-circle"></i></span> <span> Leave <strong><%=user.joinedCircles[i].circleDetails.title%></strong></span></button>
            </div>
    </form>
  </footer>
</div>
</div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
