                        <!-- leaveModal -->
                        <div id="leaveModal<%=agreement._id%>" class="modal" role="dialog">
                          <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Leave circle</h4>
                              </div>
                              <div class="modal-body text-right">
                                  <h3>Leave <strong><%=agreement.circleDetails.title%></strong>?</h3>
                                <p>Are you sure you want to leave this circle?</p>
                                <p>
                                  This will terminate your enrollment in <strong><%=agreement.circleDetails.title%></strong>. 
                                  Your account will not be charged for future classes.
                                </p>
                                <form action="/agreements/<%=agreement._id%>/leave?_method=PUT" method="POST">
                                    <div class="form-group">
                                        <button class="btn btn-danger" name="stop" type="submit"><span class="fa fa-minus-circle"></span> Leave <strong><%=agreement.circleDetails.title%></strong> </button>
                                    </div>
                                </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>