<% include ./partials/header %>

<section class="hero">
  <div class="hero-body landing-hero">
    <div class="container">
      <h1 class="title">
        <span> real life learning</span>
      </h1>
      <h2 class="subtitle has-text-weight-semibold">
        learn directly from skilled people near you
      </h2>
      <form action="/circles" method="GET" >
      <div class="columns">
      <div class="column is-two-fifths r-search">
      
      <div class="columns">
        <div class="column is-one-half-tablet r-search-distance">
          <div class="field">
            <div class="control">
              <div name="distance" class="select">
                <select>
                  <option>5 miles</option>
                  <option>10 miles</option>
                  <option>15 miles</option>
                  <option selected>20 miles</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-one-half-tablet r-search-location">
          <div class="field">
            <div class="control is-flex">
              <% if(currentUser){ %>
                          <input class="input" id="ZIP" name="ZIP" type="text" placeholder="ZIP" value="<%=currentUser.zip%>" required data-validation-required-message="Please enter your Zip Code.">
                        <% } else { %>
                          <input class="input" id="ZIP" name="ZIP" type="text" placeholder="ZIP" value="30303" required data-validation-required-message="Please enter your Zip Code.">
              <% } %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary is-medium is-fullwidth"><span class="icon"><i class="fa fa-globe"></i></span> <span> discover</span></button>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="" class="button button--outlined is-radius-white button--outlined is-medium is-fullwidth"><span class="icon"><i class="fa fa-search"></i></span> <span> specify</span></button>
        </div>
      </div>
      
      
    </div> <!---end column --> 
    </div> <!---end columns --> 
    </form>
      
    </div>
  </div>
</section>


<!--How does it work-->
<section id="portfolio" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h2 class="title"> how does it work?</h2>
        <p>Imagine you want to learn something. Whatever it may be, wouldn't it be ideal if you could find someone close to you that already knows what you want to learn, so that you could learn from them, directly? Our open marketplace makes this easy: </p>
      <br>
      <br>
      <br>
      <div class="level three-steps">
        <div class="level-item  has-text-centered">
          <div>
            <p class="title"><span class="icon is-size-1"><i class="fa fa-search"></i></span></p>
            <p class="heading is-size-6">find</p>
            <p>find someone who masters <br>what you want to learn</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title"><span class="icon is-size-1"><i class="fa fa-check"></i></span></p>
            <p class="heading is-size-6">join</p>
            <p>join  his or her circle <br> by subscribing</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="title"><span class="icon is-size-1"><i class="fa fa-cogs"></i></span></p>
            <p class="heading is-size-6">learn</p>
            <p>attend and learn directly <br>from the master</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
 <div class="hero-body">
  <div class="container">
        <h1 class="title">circles </h1>
        <h2 class="subtitle">recently added learning circles</h2>
      <div class="columns circles">
                    <% for (var i = 0; i < circles.length; i++){%>
        <div class="column is-one-third single-circle">
          <a href="/circles/<%=circles[i]._id%>" class="circle">
            <div class="card circle">
              <figure class="image circle--image">
                  <img src="https://res.cloudinary.com/openclassroom/image/upload/w_800,h_400,c_fill/<%=circles[i].image%>">
              </figure>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image mentor--image">
                      <img src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_240,h_240/<%=circles[i].educator.avatar%>" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content mentor--name">
                    <p class="subtitle is-6"><%=circles[i].educator.firstName%> <%=circles[i].educator.lastName%></p>
                  </div>
                </div>
                <div class="content columns">
                  <div class="column is-three-quarters is-three-quarters-mobile circle--title">
                    <h3 class="title"><%=circles[i].title%></h3>
                  </div>
                  <div class="circle--appreciation column is-one-third">
                    <% if(circles[i].appreciation !== 0) { %> 
                    +<%=circles[i].appreciation%> <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                    <% }; %>
                  </div>
                </div>
                <div>
                <div class="circle--oneliner">
                  <%= circles[i].oneliner %> 
                </div>
                  <div class="columns circle--footer">
                      <time datetime="2016-1-1" class="column is-half is-size-7">created: <br> <%=moment(circles[i].createdAt).format('ll')%></time>
                    <div class="column is-half circle--more">
                      <p>more</p>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          
            </div>
        <% }; %>
        

    </div>
  </div>
  </div>
</section>
            
<section class="hero is-dark bg-img2 overlay">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        our mission:
      </h1>
      <p>
        Helping you <strong>learn from the people around you</strong> by providing an <br> open marketplace for real life learning.
      <p>
    </div>
  </div>
</section>

<section class="hero is-light">
  <div class="hero-body">
      <div class="container">
            <h1 class="title">our vision </h1>
            <div class="columns">
              <div class="column is-two-thirds">
                <div class="content">
                  
                
                We want to live in a world where <strong>all learning is decentralized and customized to your individual needs.</strong>
<br>
<br>
At radius, you are in charge of your own development:
<ul>
  <li>You pursue your own personal learning goals</li>
  <li>You call on skilled people around you for guidance</li>
  <li>You set your own budget to connect with others </li>
</ul>

<p>
Join or host a learning circle! It is <strong>a wonderful way to spend your free time</strong>, because learning new things is fun, exciting, and a great way to invest in yourself. 
</p>
            </div>
             </div>

            </div>
      </div>
  </div>
</section>
 
<section class="team">
  <div class="hero-body">
   <div class="container">
     <h1 class="title">our team </h1>
     <div class=" columns">
       <div class="column is-4 has-text-centered team__members">
         <div class="team__member">
           <img class="rounded" src="/stylesheets/img/team/OCRteamGerritMaatkamp.jpg" alt="">
           <h4 class="is-size-5">Gerrit</h4>
           <p class="text-muted">front-end developer</p>
           <p class="has-text-weight-semibold has-text-grey-dark">designer</p>
           <!--<p class="">Austin, TX</p>-->
         </div>
       </div>
       <div class="column is-4 has-text-centered">
         <div class="team__member founder">
           <img class="rounded" src="/stylesheets/img/team/OCRteamCorneVanStraten.png" alt="">
           <h4 class="is-size-5">Corné</h4>
           <p class="text-muted">back-end developer</p>
           <p class="has-text-weight-semibold has-text-grey-dark">founder</p>
           <!--<p class="text-muted">Chattanooga, TN</p>-->
         </div>
       </div>
       <div class="column is-4 has-text-centered">
          <div class="team__member">
           <img class="rounded" src="/stylesheets/img/team/OCRteamKatieVanStraten.jpg" alt="">
           <h4 class="is-size-5">Katie</h4>
           <p class="text-muted">business-end developer</p>
           <p class="has-text-weight-semibold has-text-grey-dark">communicator</p>
           <!--<p class="text-muted">Chattanooga, TN</p>-->
         </div>
       </div>
     </div>
   </div>
  </div>
 </section>
 






<% include ./partials/footer %>
