<% include ../partials/header %>


<section class="hero is-light is-fullheight">
    <div class="hero-body">
        
   
        <div class="container">
                  <h1 class="title has-text-centered">
                    <span> edit</span>
                  </h1>
                  <h2 class="subtitle has-text-centered">
                    <%=circle.title%>
                  </h2>
                  
                  
            <div class="column is-8 is-offset-2">
            

            <form action="/circles/<%=circle._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                
            <div class="box ncb1">
                <div class="field">
                    <progress class="progress is-primary is-small" value="33" max="100">33%</progress>
                </div>
                
                    <div class="field">
                      <label class="label">Title</label>
                      <div class="control">
                        <input class="input" id="title" type="text" name="circle[title]" placeholder="Circle title" value="<%=circle.title%>" required>
                      </div>
                    </div>

                    <div class="field">
                        <label class="label" for="image_upload">Cover image</label>
                        <input class="input" type="file" id="image_upload" name="image_upload" accept="image/*" >
                        <input id="oldImage" name="oldImage" value="<%=circle.image%>" type="hidden">
                    </div>
                    
                    <div class="field">
                    <label class="label">Oneliner</label>
                    <div class="control">
                        <input class="input" id="oneliner" type="text" name="circle[oneliner]" placeholder="Sell your circle in 140 characters or less.." value="<%=circle.oneliner%>" required>
                    </div>
                    </div>
                    
                    <div class="field">
                      <button class="button" disabled>Previous</button>
                        <button type="button" class="button" disabled>1</button>
                        <button type="button" class="button newc1">2</button>
                        <button type="button" class="button newc3">3</button>
                        <button type="button" class="button is-primary newc1">Next</button>   
                    </div>

            </div>
            
            
            
            
        <div class="box ncb2 is-hidden">
            <div class="field">
                    <progress class="progress is-primary is-small" value="67" max="100">33%</progress>
                </div>
                
          <div class="field">  
             <div class="control">
              <label class="label">Description</label>
                    <textarea rows="3" id="description"  class="textarea" name="circle[description]" placeholder="What can your students learn from you?" required><%=circle.description%></textarea>
                </div>    
            </div>
           
               <div class="field">
                   <div class="control">
                      <label class="label">Students will be able to</label>
                        <input class="input" type="text" name="swbat1" placeholder="Do this.." value="<%=circle.swbat[0]%>" required>
                        <input class="input" type="text" name="swbat2" placeholder="And this.. (optional)" value="<%=circle.swbat[1]%>">
                        <input class="input" type="text" name="swbat3" placeholder="And this.. (optional)" value="<%=circle.swbat[2]%>">
                   </div>
               </div>
               
               <div class="field">
                   <button type="button" class="button is-primary is-outlined newc1">Previous</button>
                    <button type="button" class="button newc1">1</button>
                    <button type="button" class="button" disabled>2</button>
                    <button type="button" class="button newc2">3</button>
                    <button type="button" class="button is-primary newc2">Next</button>
               </div>
                
                
                 
          </div>
          
          <div class="box ncb3 is-hidden">
              
              <div class="field">
                    <progress class="progress is-primary is-small" value="99" max="100">33%</progress>
                </div>
              
              <label class="label">Details:</label>
              <div class="columns">
                  <div class="column">
                    <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" id="when" type="text" name="circle[when]" placeholder="Date & time" value="<%=circle.when%>" required>
                        <span class="icon is-small is-left">
                      <i class="fa fa-clock-o"></i>
                    </span>
                    </div>
                    </div> 
                     <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" id="location" type="text" name="circle[location]" placeholder="Location (address)" value="<%=circle.location%>" required>
                        <span class="icon is-small is-left">
                      <i class="fa fa-map-marker"></i>
                    </span>
                    </div>
                    </div>
                  </div>
                  
                  <div class="column">
                      <div class="field">
                        <div class="control has-icons-left">
                            <input class="input" id="spots" type="number" name="circle[spots]" placeholder="Spots available" value="<%=circle.spots%>" required>
                            <span class="icon is-small is-left">
                          <i class="fa fa-users"></i>
                        </span>
                        </div>
                        </div>
                        <div class="field">
                        <div class="control has-icons-left">
                            <input class="input" id="price" type="number" name="circle[price]" placeholder="Price per session" min="5" step="0.50" value="<%=circle.price%>" required>
                            <span class="icon is-small is-left">
                          <i class="fa fa-usd"></i>
                        </span>
                        </div>
                        </div>
                  </div>
                </div>
                
                <label class="checkbox">
                  <input id ="terms" name="terms" type="checkbox" checked required>
                  I accept the <a href="#">terms and conditions</a>
                </label>
                
                <br>
                <br>
                  
                    <button type="button" class="button is-primary is-outlined newc2">Previous</button>
                    <button type="button" class="button newc3">1</button>
                    <button type="button" class="button newc2">2</button>
                    <button type="button" class="button" disabled>3</button>
                    <button id="" type="submit" class="button is-primary"><span class="icon"><i class="fa fa-thumb-tack"></i></span> <span> edit <%=circle.title%></span></button>
                  

            </div>    
            </form>
            </div>
        </div>
</div>



<% include ../partials/footer %>




