<% include ../partials/header %>

<section class="hero is-dark bg-img">
  <div class="hero-body">
    <div class="container">
      <h1 class="title wit">
        Learning circles
      </h1>
      <h2 class="subtitle wit">
        in your area
      </h2>
    </div>
  </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns circles">
            
  
            <% for (var i = 0; i < circles.length; i++){%>
            <div class="column is-one-quarter single-circle">
              <a href="/circles/<%=circles[i]._id%>" class="circle">
                <div class="card circle">
                  <figure class="image circle--image">
                      <img src="https://res.cloudinary.com/openclassroom/image/upload/w_1000,h_500,c_fill/<%=circles[i].image%>">
                  </figure>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image mentor--image">
                          <img src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_240,h_240/<%=circles[i].educator.avatar%>" alt="Placeholder image">
                        </figure>
                      </div>
                      <div class="media-content mentor--name">
                        <p class="subtitle is-6"><%=circles[i].educator.firstName%> <%=circles[i].educator.lastName%></p>
                      </div>
                    </div>
                    <div class="content columns">
                      <div class="column is-three-quarters is-three-quarters-mobile circle--title">
                        <h3 class="title"><%=circles[i].title%></h3>
                      </div>
                      <div class="circle--appreciation column is-one-third">
                        <% if(circles[i].appreciation > 0) { %> 
                        +<%=circles[i].appreciation%> <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        <% } else if(circles[i].appreciation < 0) { %>
                        <%=circles[i].appreciation%> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                        <% }; %>
                      </div>
                    </div>
                    <div>
                    <div class="circle--oneliner">
                      <%= circles[i].oneliner %> 
                    </div>
                      <div class="columns circle--footer">
                          <time datetime="2016-1-1" class="column is-half is-size-7">created: <br> <%=moment(circles[i].createdAt).format('ll')%></time>
                        <div class="column is-half circle--more">
                          <p>more</p>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              
                </div>
              <% if((i+1)%4 ==0 && i !== 0) {%>
                      </div>
                    </div>
                </section>
                  <section class="section">
                    <div class="container">
                        <div class="columns circles">
              <% }; %>
            <% }; %>
              
            
        </div>
    </div>
</section>
                  
 

<% include ../partials/footer %>
