<% include ../partials/header %>
<div> <!-- circle show page | PDP -->
<section class="cta is-hidden-mobile">
  <div class="columns cta-content">
    <div class="column is-half-mobile cta-content--title label"><%=circle.title%></div>
    <div class="column is-half-mobile cta-content--price label">$<%=circle.price%> /lesson</div>
    <div class="column is-half-mobile cta-content--favorite">
      <% if(currentUser){ %>
     <form id="favform" action="/users/<%=currentUser._id%>" method="POST">
          <input type="hidden" name="circle[id]" value="<%=circle.id%>">
          <input type="hidden" name="circle[title]" value="<%=circle.title%>">
        <% if(!isFav){ %>
      <button type="submit" class="is-fullwidth button button__mobile is-radius-red is-large is-outlined button--favorite">
        <i class="fa fa-heart-o"></i>
      </button>
      <% } else { %>
      <button type="submit" class="is-fullwidth button button__mobile is-radius-red is-large is-outlined button--favorite">
        <i class="fa fa-heart"></i>
      </button>
      <% } %>
      </form>
      <% } %>
    </div>
    <div class="column is-fullwidth is-half-mobile cta-content--join">
      <% if(!visitorIsStudent){ %>
      <button class="joinButton is-fullwidth button button__mobile is-radius-red is-large">
        <i class="fa fa-plus-circle"></i> Join
      </button>
      <% } else { %>
        <button class="button is-fullwidth button__mobile is-radius-red is-large" disabled>
        <i class="fa fa-check-circle"></i> joined
      </button>
      <% } %>
    </div>
  </div>
</section>

  <!-- Product detail page -->
<div class="pdp">
  <section class="hero" id="top">
    <div class="pdp-hero">
        <img src="https://res.cloudinary.com/openclassroom/image/upload/w_1440,h_500,c_fill/<%=circle.image%>" alt="background image">  
    </div>
  </section>

  <div class="columns">
    <div class="column sidebar--left is-hidden-mobile">
      <ul>
        <li><a href="#hero">Overview</a></li>
        <li><a href="#tal">Description</a></li>
        <li><a href="#Reviews">Reviews (<%=circle.reviews.length%>)</a></li>
      </ul>
    </div>
    <div class="column pdp-content is-8">
      <section class="pdp-info" id="Overview">
        <div class="columns">
          <div class="column is-4">
            <div class="pdp-title">
              <h1 class="title">
                <%=circle.title%>
              </h1>
              <p class="pdp-product-synopsis">
                <%=circle.oneliner%>
              </p>
            </div>
          </div>
          <div class="column is-4 pdp-mentor">
            <div class="pdp-mentor--center">
              <a href="/users/<%=circle.educator._id%>">

                <img class="pdp-mentor--center--picture" src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_240,h_240/<%=educator.avatar%>" alt="profile picture"/>
                <div class="pdp-mentor--center--name">
                  <h2 class="title"><%=educator.firstName%> <%=educator.lastName%> <!-- Var 1stname + var lastname --></h2>
                </div>
              </a>
            </div> 
            </div>
          <div class="column is-4 pdp-actions">
                  <% if(!visitorIsStudent){ %>
                    <button class="joinButton is-fullwidth button button__mobile is-radius-red is-large">
                      <i class="fa fa-plus-circle"></i> Join
                    </button>
                    <% } else { %>
                      <button class="joinButton is-fullwidth button button__mobile is-radius-red is-large" disabled>
                      <i class="fa fa-check-circle"></i> joined
                    </button>
                    <% } %>
                    <% if(currentUser){ %>
                   <form id="favform" action="/users/<%=currentUser._id%>/fav?_method=PUT" method="POST">
                        <input type="hidden" name="circle[id]" value="<%=circle.id%>">
                        <input type="hidden" name="circle[title]" value="<%=circle.title%>">
                      <% if(!isFav){ %>
                    <button type="submit" class="button is-fullwidth button__mobile is-radius-red is-large is-outlined button--favorite">
                      <i class="fa fa-heart-o"></i>
                    </button>
                    <% } else { %>
                    <button type="submit" class="button is-fullwidth button__mobile is-radius-red is-large is-outlined button--favorite">
                      <i class="fa fa-heart"></i>
                    </button>
                    <% } %>
                    </form>
                    <% } %>
                <p class="price">$ <%=circle.price%> <span class="thin"> /lesson</span></p>
      
          </div>
        </div>
      </section>
        <% include ../partials/modals.ejs %>
      <section class="pdp-timeandlocation" id="tal">
        <div class="columns">
          <div class="column is-4 pdp-location">
             <p><i class="fa fa-map-marker fa-2x"></i> Location: <%=circle.location%></p>
          </div>
          <div class="column is-4 pdp-time">
            <p><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>  <%=circle.when%></p>
          </div>
          <div class="column is-4 pdp-spots">
            <p><i class="fa fa-users fa-2x" aria-hidden="true"></i> Spots available: <%=circle.spots%></p>

          </div>
        </div>
      </section>
      <section class="pdp-what" id="Description">
        <div class="columns">
          <div class="column is-6">
            <h2 class="title">Description</h2>
            <p><%=circle.description%></p>
          </div>
          <div class="column is-6">
            <div class="content">
              <ul>
                  <% circle.swbat.forEach(function(element){ %>
                    <% if(element.length >0) { %>
                      
                <li><%=element%></li>
                    <% } %>
                 <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="pdp-map">
        <div class="columns">
          <div class="column">
            <div class="OCR-PD-product-location">
              <!-- Google map -->
              <div id="map">
                
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="pdp-reviews" id="Reviews">
        <h2 class="title">Reviews (<%=circle.reviews.length%>)</h2>
        
        <% circle.reviews.forEach(function(review){ %>
        <div class="columns pdp-review">
          <div class="column is-2">
            <img class="pdp-review--picture" src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_240,h_240/<%=review.author.avatar%>" alt="profile picture"/>
          </div>  
          <div class="column">
            <div class="pdp-review--author">
                <h2 class="title"><%=review.author.firstName%>: <%=review.title%> <!-- Var 1stname + var lastname --></h2>
                <hr>
                <p><%=review.text%> </p>
              </div>
          </div>  
          <div class="column is-1 pdp-review--recommend">
              <p style="font-size: .5em">
                        <% if(review.recommend){%> 
                        +1<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
                        <% } else { %>
                        -1<i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                        <% } %>
              </p>
          </div>  
        </div>
        <% }) %> 

      </section>
        <div class="back-to-top">
          <a class="top is-hidden is-hidden-tablet" href="#top">
            <p><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></p>
          </a>
        </div>
    </div>
    <div class="column sidebar--right is-hidden-mobile">

    </div>
  </div>
</div>

          
            




<script>
  function initMap() {
    var lat = <%= circle.lat %>;
    var lng = <%= circle.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= circle.title %><br />
      <%= circle.location %></strong>
      <p><%= circle.oneliner %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRLolo1bWIm89Vv4iROVwv1AYxz3GEXjY&callback=initMap"></script>

</div>
<% include ../partials/footer %>  
