<!--User DASHBOARD -->
<% include ../partials/header %>

<div class="pdp dashboard">
<section class="hero is-dark" id="top">
  <div class="hero-body">
  </div>
</section>

  <div class="columns">
    <!--sidebar-->
    <div class="column sidebar--left is-hidden-mobile">
      <!--<ul>-->
      <!--  <li><a href="#hero">circles</a></li>-->
      <!--  <li><a href="#tal">joined</a></li>-->
      <!--  <li><a href="#Reviews">history</a></li>-->
      <!--</ul>-->
    </div>
    
    
    <!--center column-->
    <div class="column pdp-content is-8">
      <section class="pdp-info" id="Overview">
        
        <div class="columns">
          <div class="column is-4">
            <div class="edit-profile">
               <a href="/users/<%=user.id%>/edit" class="button is-radius-red is-outlined is-medium"><i class="fa fa-pencil-square-o"></i> <p class="edit"> edit profile</p></a> <br>
              <!--<h1 class="title">-->
              <!--   dashboard-->
              <!--</h1>-->
            </div>
          </div>
          <div class="column is-4 dash-mentor">
            <div class="dash-mentor--center">
              <a href="/users/<%=user._id%>">

                <img class="dash-mentor--center--picture" src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_240,h_240/<%=user.avatar%>" alt="profile picture"/>
                <!--<div class="pdp-mentor--center--name">-->
                <!--  <h2 class="title"><%=user.firstName%> <%=user.lastName%></h2>-->
                <!--</div>-->
              </a>
            </div> 
            </div>
            <div class="column is-4 new-circle">
                <a href="/circles/new" class="button is-radius-red is-medium"><i class="fa fa-thumb-tack"></i> <p class="join"> new circle</p></a> <br>
                <!--<a class="button is-radius-red is-large is-outlined button--favorite"><i class="fa fa-heart-o"></i></a>   -->
            </div>
        </div>
        
        
       <% if(user.circles.length > 0){%> 
      <section class="hero" id="circless">
        <div class="hero-content">
          
        
        <h2 class="title"><span class="icon"><i class="fa fa-thumb-tack"></i></span> <span>circles</span></h2>
          
          
          
          <div class="column">
        <% user.circles.reverse().forEach(function(circle){ %>
          <div class="card" id="<%=circle.id%>">
                        
            <img class="circle--header" src="https://res.cloudinary.com/openclassroom/image/upload/w_1440,h_500,c_fill/<%=circle.image%>">
            <header class="card-header">
              <p class="card-header-title">
                <a href="/circles/<%=circle.id%>">
                <%=circle.title%>
                </a>
              </p>
              <a href="#circless" class="card-header-icon" aria-label="more options" circle="<%=circle.id%>">
                <span class="icon">
                  <i class="fa fa-chevron-down"aria-hidden="true" circle="<%=circle.id%>"></i>
                </span>
              </a>
            </header>
            <div class="card-content is-hidden manageCircle<%=circle.id%>"> <!--toggle is-hidden here-->
                <% if(circle.students.length > 0) {  %>

                
              <div class="content ">
                  <h2>Participants (<%=circle.students.length %>)</h2>
                  <br>
                  <div class="participants columns">
                    <%circle.agreements.forEach(function(agreement){%>
                      <% if(!agreement.endedAt){%>
                      <div class="column is-3">
                        <a class="participant" href="/users/<%=agreement.studentRef%>">
                            <!--<img class="userloggedin" src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_40,h_40/<%=agreement.studentDetails.avatar%>">-->
                            <p class="participant--name"><%=agreement.studentDetails.firstName%>
                            <%=agreement.studentDetails.lastName%></p>
                            <a class="button is-success is-outlined" href="/users/<%=agreement._id%>/endorsements/new"><span> endorse</span></a>
                            <a class="button removeButton is-light" agreement="<%=agreement._id%>"><span class="fa fa-user-times" agreement="<%=agreement._id%>"></span></a>
                                    <% include ../partials/removeModal.ejs %>
                        </a>
                      </div>
                      <% } %>
                    <% }) %>
                  </div>
                
                </div>
                <% } else {%>
                <p><%=circle.title%> has no participants at the moment</p>
                <% } %>
            </div>
            <footer class="card-footer columns">
              <div class="column is-1">
                <a class="button deleteButton is-light card-footer-item" circle="<%=circle.id%>"><span class="icon"><i class="fa fa-trash-o" circle="<%=circle.id%>"></i></span></a>
                <% include ../partials/deletemodal.ejs %>
              </div>
              <div class="column is-11">
                <a href="/circles/<%=circle.id%>/edit" class="button is-fullwidth card-footer-item is-light"><span class="icon"><i class="fa fa-pencil-square-o"></i></span> <span> edit</span></a>
              </div>
            </footer>
          </div>
          <br>
          <% }) %>
          </div>
        </div>
      </section>
      <% } %>
      
      
      
      
      <section class="hero">
        <div class="hero-content">

          
          
        <h2 class="title"><span class="icon"><i class="fa fa-check-circle"></i></span> <span> joined</span></h2>

        <div class="columns circles single-circle">
                          <!--fav-->
                <div class="column is-half">
                  <div class="box">
                      <h3><i class="fa fa-heart" style="color: red"></i> Favorites (<%=user.fav.length%>)</h3>
                      <div class="content">
                          <ul>
                            <% user.fav.forEach(function(circle){ %>
                              <li class="">
                                <a href="/circles/<%=circle.id%>"> <%=circle.title%></a>
                              </li>
                            <% }) %>
                          </ul>
                      </div>
                  </div>
                </div>
          
          
          <% for (var i = 0; i < user.joinedCircles.length; i++){%>
          <% if (!user.joinedCircles[i].endedAt){ %>
          <div class="column is-half single-circle">
            <a href="/circles/<%=user.joinedCircles[i].circleRef%>" class="circle">
                <div class="card circle">
                  <figure class="image circle--image">
                      <img src="https://res.cloudinary.com/openclassroom/image/upload/w_1440,h_500,c_fill/<%=user.joinedCircles[i].circleDetails.image%>">
                  </figure>
                  <div class="card-content">
                    <div class="media">
                      <!--<div class="media-left">-->
                      <!--  <figure class="image mentor--image">-->
                      <!--    <img src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_240,h_240/<%=user.joinedCircles[i].educatorDetails.avatar%>" alt="Placeholder image">-->
                      <!--  </figure>-->
                      <!--</div>-->
                      <!--<div class="media-content mentor--name">-->
                      <!--  <p class="subtitle is-6"><%=user.joinedCircles[i].educatorDetails.firstName%> <%=user.joinedCircles[i].educatorDetails.lastName%></p>-->
                      <!--</div>-->
                    </div>
                    <div class="content columns">
                      <div class="column is-three-quarters is-three-quarters-mobile circle--title">
                        <p class="title is-4"><%=user.joinedCircles[i].circleDetails.title%></p>
                      </div>
                    </div>
                    <div>
                    <!--<div class="circle--oneliner">-->
                    <!--  <%= user.joinedCircles[i].circleDetails.oneliner %> -->
                    <!--</div>-->
                    <footer>
                        <div class="columns circle--footer">
                          <a class="button leaveButton is-dark is-outlined card-footer-item" agreement="<%=user.joinedCircles[i]._id%>"><span class="icon" ><i class="fa fa-sign-out" agreement="<%=user.joinedCircles[i]._id%>"></i></span><span agreement="<%=user.joinedCircles[i]._id%>"> leave</span></a>
                          <% include ../partials/leaveModal.ejs %>
                          <% if(user.joinedCircles[i].reviewRef){ %>
                        <button class="button is-primary is-fullwidth card-footer-item" disabled><span class="icon"><i class="fa fa-check"></i></span> <span> reviewed</span></button>
                       <% } else { %>
                          <a href="/circles/<%=user.joinedCircles[i]._id%>/reviews/new" class="button is-primary is-fullwidth card-footer-item"><span class="icon"><i class="fa fa-comment-o"></i></span> <span> review</span></a>
                       <% } %>
                       </div>
                    </footer>
                        
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              
                    <% if(i%2 !==0 && i !== 0) {%> <!-- if the second card is placed on one line, start another -->
                              </div>
                              <div class="columns">
                    <% }; %>
                <% } %>
                <% } %>
                

                
                
                
                
            </div>
            </div>
      </section>
      
      
      <section class="hero circle--history"> <!--- LEARNING HISTORY -->
        <div class="hero-content">
          
        <h2 class="title"><span class="icon"><i class="fa fa-briefcase"></i></span> <span> learning history</span></h2>
        
        <div class="columns circles">
          
          <% for (var i = 0; i < user.joinedCircles.length; i++){%>
          <% if (user.joinedCircles[i].endedAt){ %>
          <div class="column is-half ">
            <a href="/circles/<%=user.joinedCircles[i].circleRef%>" class="circle">
                <div class="card circle">
                  <figure class="image circle--image">
                      <img src="https://res.cloudinary.com/openclassroom/image/upload/w_1440,h_500,c_fill/<%=user.joinedCircles[i].circleDetails.image%>">
                  </figure>
                  <div class="card-content">
                    <div class="media">
                      <!--<div class="media-left">-->
                      <!--  <figure class="image mentor--image">-->
                      <!--    <img src="https://res.cloudinary.com/openclassroom/image/upload/g_face,c_thumb,w_240,h_240/<%=user.joinedCircles[i].educatorDetails.avatar%>" alt="Placeholder image">-->
                      <!--  </figure>-->
                      <!--</div>-->
                      <!--<div class="media-content mentor--name">-->
                      <!--  <p class="subtitle is-6"><%=user.joinedCircles[i].educatorDetails.firstName%> <%=user.joinedCircles[i].educatorDetails.lastName%></p>-->
                      <!--</div>-->
                    </div>
                    <div class="content columns">
                      <div class="column is-three-quarters is-three-quarters-mobile ">
                        <p class="title is-4"><%=user.joinedCircles[i].circleDetails.title%></p>
                      </div>
                    </div>
                    <div class="created">
                      <p><%= moment(user.joinedCircles[i].createdAt).format('ll') %> -
                      <%= moment(user.joinedCircles[i].endedAt).format('ll') %></p>
                    </div>
                    <footer>
                        <div class="columns circle--footer">
                          <% include ../partials/leaveModal.ejs %> 
                          <% if(user.joinedCircles[i].reviewRef){ %>
                        <button class="button is-outlined is-fullwidth card-footer-item" disabled><span class="icon"><i class="fa fa-check"></i></span> <span> reviewed</span></button>
                       <% } else { %>
                          <a href="/circles/<%=user.joinedCircles[i]._id%>/reviews/new" class="button is-primary is-fullwidth card-footer-item"><span class="icon"><i class="fa fa-comment-o"></i></span> <span> review</span></a>
                       <% } %>
                       </div>
                    </footer>
                        
                      
                    </div>
                  </div>
                </a>
              </div>
                    <% if(i%2 !==0 && i !== 0) {%> <!-- if the second card is placed on one line, start another -->
                            </div>
                              <div class="columns single-circle">
                    <% }; %>
                <% } %>
                <% } %>
            </div>
        </div>
      </section>
      
  </div> <!--- closes center column -->
    
      
      
      
      

    
    <!--right column -->
        <div class="column sidebar--right is-hidden-mobile">
      <a class="top is-hidden" href="#top">
        <p><i class="fa fa-chevron-up fa-2x" aria-hidden="true"></i></p>
      </a>
    </div>
</div>

</div> <!-- closes all columns -->




<% include ../partials/footer %>