<!--Endorsement-->
<% include ../partials/header %>

   <div class="OCR-login">
    <div class="OCR-login-overlay">
      <div class="row">
        <div class="col-md-6">
          <img id="endorsement_avatar" src="<%= agreement.studentDetails.avatar %>">
          <h1>Endorse <strong><%=agreement.studentDetails.firstName%> <%=agreement.studentDetails.lastName%></strong></h1>
          <h4 style="text-align: center;">For <strong><a href="/circles/<%=agreement.circleRef%>"><%=agreement.circleDetails.title%></a></strong> </h4>
        </div>
        <div class="col-md-6 ">
          <div class="OCR-login-form">
            <form action="/users/<%=agreement.studentRef%>/endorsements/" method="POST">

              <p><strong>Which skills does <%=agreement.studentDetails.firstName%> <%=agreement.studentDetails.lastName%> master? Are there any other qualities you would like to endorse?</strong></p>

              <p>For inspiration:</p>

                    <ul>
                         <% agreement.circleDetails.swbat.forEach(function(element){ %>
                         <% if(element.length >0) { %>
                                <li><%=element%></li>
                        <% } %>
                        <% }) %>

                    </ul>
              <textarea rows="4" name="endorsement[text]" placeholder="Write your endorsement here.." class="OCR-login-form-input"></textarea></br>
                    <input type="hidden" name="student[id]" value="<%=agreement.studentRef%>">
                    <input type="hidden" name="student[firstName]" value="<%=agreement.studentDetails.firstName%>">
                    <input type="hidden" name="student[lastName]" value="<%=agreement.studentDetails.lastName%>">
                    <input type="hidden" name="circle[id]" value="<%=agreement.circleRef%>">
                    <input type="hidden" name="agreement[id]" value="<%=agreement._id%>">
              <!--<input type="submit" value="Submit" class="btn btn-xl btn-primary btn-block"><br>-->
              <button class="btn btn-lg btn-third btn-block"><span class="fa fa-forward"></span> Endorse</button>
            </form>
            <a href="/">back</a>
          </div>
        </div>
      </div>
    </div>
  </div>



<% include ../partials/footer %>
